{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <h1>Sell Stock</h1>
    <form action = "/sell" method = "post">

        <select name = "symbol">
            <option disabled selected>Stock</option>
            {% for i in big_index %}
                <option value= "{{big_index[i]['symbol']}}">{{ big_index[i]["symbol"]}}</option>
            {% endfor %}
        </select>

        <input autocomplete="off" autofocus name="shares" placeholder="shares" type="text">
        <button class="btn btn-primary" type = "submit">Sell</button>
    </form>

{% endblock %}